.writers {
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(219, 226, 232);
    padding:1rem;
    gap:1rem;
}




/* writer */
.writer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition: 200ms;
}
.writer:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.writer_avatar img {
    width:100px;
    height:100px;
}

.writer_username {
    font-style: italic;
}


button:hover {
    cursor: pointer;
}
.follow_button, .unfollow_button {
    border-radius: 10px;
    padding:8px;
}

.follow_button {
    background-color:rgb(228, 43, 33);
}

.unfollow_button {
    background-color:green;
}