body {
  background-color: rgb(21, 21, 21);
  margin-left: 5%;
  margin-right: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* login container/login and register forms */
.login_container button{
  background-color: red;
  transition: 200ms;
  border-radius: 10px;
  padding:5px;
}
.login_container .inactive_button{
  background-color: rgb(236, 84, 84);
  cursor: pointer;
}
.login_container .active_button:hover{
}
.login_wrapper {
  margin-top:10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_wrapper form {
  font-size: larger;
  color:aliceblue;
  display:grid;
  gap:10px;
  justify-items: center;
  grid-template-rows: repeat(4,1fr);
}
.login_wrapper form button {
  background-color: rgb(188, 45, 45);
  transition: 200ms;
}
.login_wrapper form button:hover {
  background-color: rgb(186, 75, 75);
  transform: scale(1.1);
  cursor: pointer;
}

/**/


/* ARTICLES */
/* USER SECTION */
.user_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user_section .user_avatar {
  margin-top: 2rem;
}
.user_section .user_avatar img {
  max-width:100px;
  max-height:100px;
  
}
/**/

/* articles section*/

/**/



/**/